@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width:100vw;
    height: 100vh;
    background: #293039;
    font-family: 'Open Sans', sans-serif;
}


.header-title{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: calc(50px + 6 * ((100vw - 320px) / 680));
    padding: 20px 0;
    font-weight: 700;
}
@media only screen and (min-width:1200px){
    .images-content{
        display:flex;
        justify-content:space-between;
        padding: 0 25px;
    }
    .bank-content div p:first-child{
        margin-top: 10px;
    }
    .bank-informations:first-child{
        margin-top: 20px;
    }
    .bank-informations:first-child .bank-img{
        margin-bottom: 10px;
    }
}
.images-content img{
    width: 100%;
}
.informations-content{
    background:#66aba0;@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
}
@media only screen and (min-width:768px){
    .informations-content{
        padding-top:100px;
        margin-top:-70px;
    }
}
.informations-container{
    padding:0 25px 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.bank-informations img{
    width: 60%;
}

.bank-content div p{
    text-align: center;
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px;
}
@media only screen and (max-width:1199px){
    .informations-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bank-informations{
        padding: 35px 0 0;
    }
    .bank-content div img{
        width:100%;
    }
    .informations-container{
        padding:0 0px 40px;
    }
    .bank-content div p{
        font-size: calc(14px + 12 * ((100vw - 320px) / 680));
        margin-bottom: 10px;
    }
}
.bank-informations{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bank-content div{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: CENTER;
}

.bank-informations.logo img{
    width:100%;
}
